h1 {
  font-size: x-large;
  font-style: oblique;
  color: red;
}
.secondH1 {
  color: blue;
}
/* img{
    background-color :red;width: 20%;   
} */
/* ***********************class selector******************* */
.broccoli {
  background-color: red;
  width: 20%;
}
.bacon {
  background-color: green;
  width: 20%;
}
/* **************************id selector***********************/

#secondH1{
  color: blue;
}